#593713: d
- "dirt"
- "solid"
- "fallable"
- "pileable"
- "grows plants"

#2ac15a: g
- "grass"
- "plant"
- "fallable"
- "grows plants"

d => "dirt"
g => "grass"
0 => "passthrough"

rule: x 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * g 0 * => * * * g *
* * * d *    * * * * *
* * * * *    * * * * *

rule: x 1%
* * * * *    * * * * *
* * * 0 *    * * * g *
* * g d * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: x 0.5%
* * * * *    * * * * *
* * * * *    * * * * *
* * g * * => * * * * *
* * d 0 *    * * * g *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * 0 * *    * * g * *
* * g * * => * * * * *
* * d * *    * * * * *
* * * * *    * * * * *