#e03020: f
- "fire"
- "fallable"
- "passthrough"
#e04020:
- "fire"
- "fallable"
- "passthrough"
#e05020:
- "fire"
- "fallable"
- "passthrough"
#e06020:
- "fire"
- "fallable"
- "passthrough"
#e07020:
- "fire"
- "fallable"
- "passthrough"
#e08020:
- "fire"
- "fallable"
- "passthrough"
#e09020:
- "fire"
- "fallable"
- "passthrough"
#e0a020:
- "fire"
- "fallable"
- "passthrough"
#e0b020:
- "fire"
- "fallable"
- "passthrough"
#e0c020:
- "fire"
- "fallable"
- "passthrough"

#707070:
- "smoke"
- "passthrough"

p => "plant"
f => "fire"
a => "air"
s => "smoke"
0 => "passthrough"

rule: 5%
* * * * *    * * * * *
* * 0 * *    * * (0, 1) * *
* * s * * => * * (0,-1) * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * s * * => * * a * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * f * * => * * s * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: x 10%
* * * * *    * * * * *
* * * * *    * * * * *
* * f p * => * * * f *
* * * * *    * * * * *
* * * * *    * * * * *
rule: y 10%
* * * * *    * * * * *
* * p * *    * * f * *
* * f * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *
rule: xy 5%
* * * * *    * * * * *
* * * p *    * * * f *
* * f * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *
rule: x 2%
* * * * *    * * * * *
* * * * *    * * * * *
* * f * p => * * * * f
* * * * *    * * * * *
* * * * *    * * * * *
rule: y 2%
* * p * *    * * f * *
* * * * *    * * * * *
* * f * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *
rule: xy 1%
* * * * *    * * * * *
* * * * p    * * * * f
* * f * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *
rule: xy 1%
* * * p *    * * * f *
* * * * *    * * * * *
* * f * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *

w => "water"
c => "dry cloud"

rule: x
* * * * *    * * * * *
* * * * *    * * * * *
* * f w * => * * s c *
* * * * *    * * * * *
* * * * *    * * * * *
rule: y
* * * * *    * * * * *
* * w * *    * * c * *
* * f * * => * * s * *
* * * * *    * * * * *
* * * * *    * * * * *