#e0c260: t
- "tree seed"
- "plant"
- "tree"

#8e6539: b
- "bark"
- "tree"
- "tree trunk"
- "plant"

#8e653a:
- "bark"
- "tree"
- "tree top"
- "plant"

#8e653b:
- "bark"
- "tree"
- "branch"
- "left branch"
- "plant"

#8e653c:
- "bark"
- "tree"
- "branch"
- "right branch"
- "plant"

#8e653d:
- "bark"
- "tree"
- "branch"
- "up branch"
- "plant"

#8e653e:
- "bark"
- "tree"
- "branch"
- "stem"
- "plant"

s => "tree seed"
g => "grows plants"
t => "tree trunk"
0 => "passthrough"

v => (0, 1)
> => (1, 0)

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * s * * => * * t * *
* * g * *    * * g * *
* * * * *    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* 0 0 0 * => * * v * *
* * t * *    * * * * *
* * * * *    * * * * *

rule: x 5%
* 0 * * *    * * * * *
* 0 * * *    * * * * *
* 0 t * 0 => * * * * *
* 0 t * *    * > * * *
* g * * *    * * * * *

rule: x 0.1%
* 0 * * *    * * * * *
* 0 * * *    * * * * *
* 0 t * 0 => * * * * *
* 0 t * *    * v * * *
* t * * *    * * * * *

o => "tree top"
\ => "left branch"
/ => "right branch"
| => "up branch"


rule: 0.01%
* * * * *    * * * * *
* * * * *    * * * * *
* 0 0 0 * => * * o * *
* * t * *    * * * * *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* 0 o * *    * \ * * *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* * o 0 *    * * * / *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * 0 * * => * * | * *
* * o * *    * * * * *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* 0 * * * => * (1,1) * * *
* * \ * *    * * * * *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* 0 \ * *    * (1,0) * * *
* * * * *    * * * * *

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * 0 * * => * * (0,1) * *
* * \ * *    * * * * *
* * * * *    * * * * *
