#e0c260: t
- "tree seed"
- "plant"
- "fallable"
- "tree"

#8e6539: b
- "bark"
- "tree"
- "tree trunk"
- "plant"

#8e653a:
- "bark"
- "tree"
- "tree top"
- "plant"

#8e653b:
- "bark"
- "tree"
- "branch"
- "left branch"
- "plant"

#8e653c:
- "bark"
- "tree"
- "branch"
- "right branch"
- "plant"

#8e653d:
- "bark"
- "tree"
- "branch"
- "up branch"
- "plant"

#8e653e:
- "bark"
- "tree"
- "branch"
- "stem"
- "plant"

#259630:
- "leaf"
- "leaves"
- "tree"
- "plant"

#25F631:
- "leaf tip"
- "leaves"
- "tree"
- "plant"

#2596F1:
- "leaf set"
- "leaves"
- "tree"
- "plant"

s => "tree seed"
g => "grows plants"
t => "tree trunk"
0 => "passthrough"

v => (0, 1)
> => (1, 0)

rule: 0.1%
* * * * *    * * * * *
* * * * *    * * * * *
* * s * * => * * t * *
* * g * *    * * * * *
* * * * *    * * * * *

rule: 5%
* * * * *    * * * * *
* * * * *    * * * * *
* 0 0 0 * => * * v * *
* * t * *    * * * * *
* * * * *    * * * * *

rule: x 5%
* 0 * * *    * * * * *
* 0 * * *    * * * * *
* 0 t * 0 => * * * * *
* 0 t * *    * > * * *
* g * * *    * * * * *

rule: x 1%
* 0 * * *    * * * * *
* 0 * * *    * * * * *
* 0 t * 0 => * * * * *
* 0 t * *    * v * * *
* t * * *    * * * * *

o => "tree top"
\ => "left branch"
/ => "right branch"
| => "up branch"


rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* 0 0 0 * => * * o * *
* * t * *    * * * * *
* * * * *    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* 0 o * *    * \ * * *
* * * * *    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* * o 0 *    * * * / *
* * * * *    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * 0 * * => * * | * *
* * o * *    * * * * *
* * * * *    * * * * *

y => "leaf"

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* 0 * * * => * (1,1) * * *
* * \ * *    * * * * *
* * * * *    * * * * *

rule: 0.5%
* * * * *    * * * * *
* * * * *    * * * * *
* 0 * * * => * y * * *
* * \ * *    * * * * *
* * * * *    * * * * *

rule: 5%
0 * * * *    y * * * *
* \ * * *    * * * * *
* * \ * * => * * * * *
* * * \ *    * * * * *
* * * * \    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * 0 * * => * * y * *
* * \ * *    * * * * *
* * * * *    * * * * *
rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* 0 \ * *    * y * * *
* * * * *    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * 0 * => * * * (-1,1) *
* * / * *    * * * * *
* * * * *    * * * * *

rule: 0.5%
* * * * *    * * * * *
* * * * *    * * * * *
* * * 0 * => * * * y *
* * / * *    * * * * *
* * * * *    * * * * *

rule: 5%
* * * * 0    * * * * y
* * * / *    * * * * *
* * / * * => * * * * *
* / * * *    * * * * *
/ * * * *    * * * * *

rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* * / 0 *    * * * y *
* * * * *    * * * * *
rule: 1%
* * * * *    * * * * *
* * * * *    * * * * *
* * 0 * * => * * y * *
* * / * *    * * * * *
* * * * *    * * * * *

rule: 5%
* * * * *    * * * * *
* * * * *    * * * * *
* * 0 * * => * * (0,1) * *
* * | * *    * * * * *
* * * * *    * * * * *

rule: 2.5%
* * * * *    * * * * *
* * * * *    * * * * *
* * 0 * * => * * y * *
* * | * *    * * * * *
* * * * *    * * * * *
rule: 25%
* * 0 * *    * * y * *
* * | * *    * * * * *
* * | * * => * * * * *
* * | * *    * * * * *
* * | * *    * * * * *
rule: 5% x
* * * * *    * * * * *
* * * * *    * * * * *
* * * * * => * * * * *
* * | 0 *    * * * y *
* * * * *    * * * * *
rule: 5% x
* * * * *    * * * * *
* * * * *    * * * * *
* * * 0 * => * * * y *
* * | * *    * * * * *
* * * * *    * * * * *

u => "leaf tip"
i => "leaf set"

rule: y 1%
* * * * *    * * * * *
* * 0 * *    * * v * *
* y y y * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *
rule: x 1%
* * * * *    * * * * *
* * y * *    * * * * *
* 0 y * * => * > * * *
* * y * *    * * * * *
* * * * *    * * * * *

rule: yx 1%
* * * * *    * * * * *
* * * y *    * * * * *
* 0 y * * => * > * * *
* y * * *    * * * * *
* * * * *    * * * * *

rule: y 10%
* * * * *    * * * * *
* * * * *    * * * * *
* y 0 y * => * * > * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: y 10%
* * * * *    * * * * *
* * y * *    * * * * *
* * 0 * * => * * v * *
* * y * *    * * * * *
* * * * *    * * * * *

rule: y 0.05%
* * 0 * *    * * u * *
* * y * *    * * * * *
* * y * * => * * * * *
* * y * *    * * * * *
* * y * *    * * * * *
rule: x 0.05%
* * * * *    * * * * *
* * * * *    * * * * *
0 y y y y => u * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: y 5%
* * 0 * *    * * u * *
* * y * *    * * * * *
* * y * * => * * * * *
* * y * *    * * * * *
* * "branch" * *    * * * * *
rule: x 5%
* * * * *    * * * * *
* * * * *    * * * * *
0 y y y "branch" => u * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* 0 * * *    * * * * *
* y u * * => * > * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* y * * *    * (1,1) * * *
* 0 u * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* y 0 * *    * (1,1) * * *
* * u * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* 0 y * *    * * v * *
* * u * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: x
* * * * *    * * * * *
* * * * *    * * * * *
* u u u * => * * i * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: xy
* * * * *    * * * * *
* * * u *    * * * * *
* u u * * => * * i * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: xy
* * * * *    * * * * *
* u * u *    * * * * *
* * u * * => * * i * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: xy
* * * * *    * * * * *
* * * u *    * * * * *
* * u * * => * * i * *
* u * * *    * * * * *
* * * * *    * * * * *

rule: xy
* * * * *    * * * * *
* * * u *    * * * * *
* * u * * => * * i * *
* * u * *    * * * * *
* * * * *    * * * * *

rule: xy
* * * * *    * * * * *
* * u * *    * * * * *
* * u * * => * * i * *
* * u * *    * * * * *
* * * * *    * * * * *

rule: xy
* * * * *    * * * * *
* * * u *    * * * * *
* * u * * => * * i * *
* * * u *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* 0 * * *    * * * * *
* u i * * => * > * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* u * * *    * (1,1) * * *
* 0 i * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* u 0 * *    * (1,1) * * *
* * i * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *

rule: yx
* * * * *    * * * * *
* 0 u * *    * * v * *
* * i * * => * * * * *
* * * * *    * * * * *
* * * * *    * * * * *